main {
  max-width: 800px;
  width: 100%;
  padding: 1em;
}

.error {
  color: #a92507;
}

.input {
  display: flex;
  align-items: center;

  & .section-picker {
    flex: 1;

    & input {
      font-size: 1.2em;
    }
  }

  & input[name=station] {
    width: 100%;
  }

  & .language-picker input[type=radio] {
    display: none;

    &:checked + label {
      font-weight: bold;
    }

    &:not(:checked) + label {
      cursor: pointer;
    }
  }

  & .language-picker label {
    margin-left: 1em;
  }
}

.trains {
  & .line {
    border-radius: .2em;
    border: 2px solid var(--line-accent);
    padding: 0 .25em;
    margin-right: .4em;
  }

  & h2 {
    font-weight: normal;
  }

  & .train .toggle {
    font-size: 1.2em;
    cursor: pointer;
  }

  & .group .header {
    display: flex;
    align-items: center;

    & h2 {
      margin-top: .6em;
      overflow: auto;
      text-wrap: nowrap;
    }

    & .current {
      font-weight: bold;
    }

    & .previous {
      color: #5d5d5d;
    }

    & .previous, & .previous + .sep {
      font-size: .7em;
    }

    & .sep {
      margin: 0 .4em;
      color: var(--line-accent);
    }

    & .previous, & .next {
      cursor: pointer;
    }
  }
}

.cars {
  text-align: center;

  & .car {
    display: inline-block;
    margin: .2em;

    & .icon {
      color: white;

      & svg, & .car-number {
        width: 3em;
      }

      & .car-number {
        position: absolute;
        margin-top: 0.15em;
      }

      &.v0 path { fill: #09d105; }
      &.v1 path { fill: #c6c612; }
      &.v2 path { fill: #e3270e; }
      &.v3 path { fill: #0f0f0f; }
    }
  }
}
