main {
  max-width: 800px;
  width: 100%;
  padding: 1em;
}

.error {
  text-align: center;
  color: #a92507;
}

.input {
  display: flex;
  align-items: center;

  & .section-picker {
    flex: 1;

    & input {
      font-size: 1.2em;
    }
  }

  & input[name=station] {
    width: 100%;
  }

  & .language-picker input[type=radio] {
    display: none;

    &:checked+label {
      font-weight: bold;
    }

    &:not(:checked)+label {
      cursor: pointer;
    }
  }

  & .language-picker label {
    margin-left: 1em;
  }
}

.trains {
  & .line {
    border-radius: .2em;
    border: 2px solid var(--line-accent);
    padding: 0 .25em;
    margin-right: .4em;
  }

  & h2 {
    font-weight: normal;
  }

  & .train {
    margin-bottom: .6em;

    & .content {
      border-left: solid 2px var(--line-accent);
      margin: 0 1.14em;
      margin-top: -0.4em;
    }
  }

  & .train .toggle {
    font-size: 1.2em;
    cursor: pointer;
    margin-left: .55em;
    font-variant-numeric: tabular-nums;

    &>.bullet {
      margin-right: .4em;
      color: var(--line-accent);
    }
  }

  & .group .header {
    display: flex;
    align-items: center;

    & h2 {
      margin-top: .6em;
      overflow: auto;
      text-wrap: nowrap;
    }

    & .current {
      font-weight: bold;
    }

    & .previous {
      color: #5d5d5d;
    }

    & .previous,
    & .previous+.sep {
      font-size: .7em;
    }

    & .sep {
      margin: 0 .4em;
      color: var(--line-accent);
    }

    & .previous,
    & .next {
      cursor: pointer;
    }
  }
}

.cars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & .car {
    display: inline-block;
    margin: .2em;
    text-align: center;

    /* English labels do not fit with the regular style,
       make the icons bigger and the text smaller. */
    main[lang=en] &>span {
      font-size: .6em;
    }

    & .icon {
      color: white;

      main[lang=en] & {
        margin-bottom: -0.2em;
      }

      & svg,
      & .car-number {
        width: 3em;

        main[lang=en] & {
          width: 4em;
        }
      }

      & .car-number {
        position: absolute;
        margin-top: .15em;

        main[lang=en] & {
          margin-top: .4em;
        }
      }

      &.v0 path {
        fill: #0939c6;
      }

      &.v1 path {
        fill: #13b860;
      }

      &.v2 path {
        fill: #af9d13;
      }

      &.v3 path {
        fill: #b90d0d;
      }

      &.ve path {
        fill: #b1b1b1;
      }
    }
  }

  & .text-icon {
    font-size: 1.4em;
    margin: 0 .3em;
    color: #878787;
    line-height: 1.3;
  }
}